[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "semhelpinghands"]
	path = semhelpinghands
	url = https://github.com/sfcheung/semhelpinghands
	shallow = true
	registered = true
[submodule "semptools"]
	path = semptools
	url = https://github.com/sfcheung/semptools
	shallow = true
	registered = true
[submodule "stdmod"]
	path = stdmod
	url = https://github.com/sfcheung/stdmod
	shallow = true
	registered = true
