[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lmhelprs"]
	path = lmhelprs
	url = https://github.com/sfcheung/lmhelprs
[submodule "manymome"]
	path = manymome
	url = https://github.com/sfcheung/manymome
[submodule "modelbpp"]
	path = modelbpp
	url = https://github.com/sfcheung/modelbpp
[submodule "semfindr"]
	path = semfindr
	url = https://github.com/sfcheung/semfindr
[submodule "semhelpinghands"]
	path = semhelpinghands
	url = https://github.com/sfcheung/semhelpinghands
[submodule "semlbci"]
	path = semlbci
	url = https://github.com/sfcheung/semlbci
[submodule "semptools"]
	path = semptools
	url = https://github.com/sfcheung/semptools
[submodule "stdmod"]
	path = stdmod
	url = https://github.com/sfcheung/stdmod
